.square {
  width: 7em !important;
  height: 7em;
  border: 1px solid black;
  display: inline-block;
}

.margin-no {
  margin: 0 !important;
}

.margin-left-ten {
  margin-left: 10px;
}
.margin-right-ten {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top-fifty {
  margin-top: 50px;
}